.box_nav{
        margin-top:10px ;
        width:100%;
        background:#fff;
        display: flex;
        justify-content:space-between;
        cursor: pointer;
          li {
            width:25%;
            text-align:center;
            font-size:30px;
            color:#444;
            display:block;
            transition:all ease .6s;
            border-bottom: 4px solid #fff;
            
              &:hover{
                  color:#fff;
                  background:#269d66;
                  transition:all ease .6s;
                  border-bottom: 4px solid #269d66;
              }
        }
          li.active {
            border-bottom: 4px solid #269d66;
        }
    }
.content-area {
    .content {
      display: none;
    }
    .content.show {
      // margin-top: 50px;
      display: block;
    }
}
