@charset "UTF-8";
/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  /*text-align: center;*/
  /*background-color:#000;*/
  position: relative;
  height: 100%;
}

ol, ul {
  list-style: none;
}

.fm{
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, 'Noto Serif JP', serif !important;
}

.fg{
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, sans-serif !important;
}

.hg {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.wrap{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background: #f2f2f2;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.btn:hover{
    opacity: .4;
    transition: all ease .8s;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: #009357;
}

.bold {
    font-weight: 600;
}

/*
 * ヘッダー
 *
 */
 
header{
  padding:20px 0;
  text-align: center;
  font-size: 20px;
  background-color: #ffffff
}

header .heaer_nav{
  display: flex;
  justify-content:space-around;
  list-style: none;
}
.nav-link{
  color: #444;
}

/*.nav_item a:before, .circleBehind a:after {*/
/*    position: absolute;*/
/*    top: 22px;*/
/*    left: 50%;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border: 4px solid #269d66;*/
/*    transform: translateX(-50%) translateY(-50%) scale(0.8);*/
/*    border-radius: 50%;*/
/*    background: transparent;*/
/*    content: "";*/
/*    opacity: 0;*/
/*    transition: all 0.3s;*/
/*    z-index: -1;*/
/*}*/

/*.nav_item a:hover:before {*/
/*    opacity: 1;*/
/*    transform: translateX(-50%) translateY(-50%) scale(1);*/
/*}*/

/*.nav_item a:hover:after {*/
/*    opacity: 1;*/
/*    transform: translateX(-50%) translateY(-50%) scale(1.3);*/
/*}*/

/*
 *index.blade.php
 *top eyecatch design
 */
.top_title_bg{
  background-image: url('https://pont-storage-heroku.s3-ap-northeast-1.amazonaws.com/images/eye_catch/eye_catch3.JPG');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding:200px 0;
  opacity: 0.8;
  background-attachment: fixed;
}

.top_title{
  color: #ffffff;
  opacity: .8;
  font-size: 60px;
}

.pc_flex {
    display: flex;
    padding-top: 20px;
}

.pc_flex .pc_left_block {
    margin-right: 20px;
    width: 70%;
}

.pc_flex .pc_right_block {
    margin-left: 20px;
    max-width: 30%;
}






/*
 * 施術別で美容師検索
 * search form
 */
 
.search_container{
  position: relative;
  /*box-sizing: border-box;*/
}
.search_container input[type="text"]{
  border: none;
  height: 2em;
  width: 100%;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container{
  border: 1px solid #009357;
  padding: 3px 5px;
  border-radius: 5px;
  height: 40px;
  overflow: hidden;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}
.search_container .search_icon{
  text-align: center;
  color: #fff;
  background: #009357;
  line-height: 3;
  width: 50px;
  height: 50px;
  position: absolute;
  right:0px;
  top: -5px;
  cursor: pointer;
}
.search_container ::-webkit-input-placeholder {
  color: #444;
}

.service_wrap{
  max-width: 100%;
  height: auto;
  padding: 20px 10px;
  margin-bottom: 15px;
  background: linear-gradient(-135deg, #a5c4e5, #bfedb2) fixed;
}
.top_model_reserve{
  width: 100%;
  height: 100%;
  min-width: 100%;
  background: #fff;
  border-radius: 10px;
}
.top_model_reserve .top_model_reserve_inner{
  padding: 20px 10px;
  top: 0;
  left: 0;
}
.top_model_reserve .top_model_reserve_inner h2{
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 10px;
}

.top_model_reserve .top_model_reserve_inner ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top_model_reserve ul li {
  width: 48%;
  height: 40px;
  margin-bottom: 20px;
  border:1px solid  #009357;
  border-radius: 5px;
  font-size: 14px;
  line-height: 3;
  font-weight: bold;
}


.top_model_reserve ul .cut a{
  background: url(https://pont-storage-heroku.s3-ap-northeast-1.amazonaws.com/images/icon/cut_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul .color a{
  background: url(https://pont-storage-heroku.s3-ap-northeast-1.amazonaws.com/images/icon/color_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul .treatment a{
  background: url(https://pont-storage-heroku.s3-ap-northeast-1.amazonaws.com/images/icon/treatment_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul .hairarenge a{
  background: url(https://pont-storage-heroku.s3-ap-northeast-1.amazonaws.com/images/icon/hairarenge_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul li a{
  color: #444;
  padding-left: 35px;
  height: 40px;
  display: block;
}
.top_model_reserve ul li a:hover{
  background-color: #009357;
  color: #fff;
  text-decoration: none;
}


/*
 *スライダー実装
 *スクローススナップ
 *top 新規掲載美容師
 *
 */
 
 

.slider{
  overflow: auto;
  scroll-snap-type: x;
  display: flex;
}

.slider_item{
  scroll-snap-align: center;
  /*height: 100vh;*/
  width:  40%;
  flex: none;
  overflow: hidden;
  margin: 10px;
  padding: 20px 10px;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  border-radius: 7px;
  text-align: center
}
.stylist_info{
  width: 80%;
}

.stylist_info1{
    position: relative;
    align-items: baseline;
}
.stylist_info2{
  color: #444;
  text-align: left;
  font-size: 20px
}


.stylist_name{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.75);
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: left;
}


/* 
 *fotter
 *CSS
 */
 
footer{
  text-align: left;

}
footer .footer_content{
  background: #000;
  padding: 60px 40px 10px;
  color: #fff;
}
.footer_content .footer_inner{
  padding-bottom:10px;
  display: flex;
}
.footer_content .footer_inner .footer_block{
  padding-bottom: 15px;
}
.footer_content .footer_inner .footer_block h2{
  padding-bottom: 5px;
  font-size: 15px;
}
.footer_content .footer_inner .footer_block ul li{
  display: inline-block;
}
.footer_content .footer_inner .footer_block ul li a{
  font-size: 12px;
  padding: 0 10px;
  color: #fff;
  border-right: #fff solid 1px;
  position: relative;
}

.footer_content .footer_inner .footer_block ul li a::after{
  position: absolute;
  bottom: -4px;
  right: -10px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.footer_content .footer_inner .footer_block ul li a:hover::after{
  transform-origin: left top;
  transform: scale(1, 1);
}

.footer_content .copyright{
  font-size:12px;
  text-align: center;
}


/**
 *マイページのCSS
 *
 */
 .mypage_flex{
   padding-top:50px !important;
 }
 
.sidebar{
  margin-right:20px;
  width: 30%;
}

.mypage_content{
  margin-left:20px;
  width: 70%;
}

.mp_intro{
  width: 100%;
  height: 200px;
  position: relative;
  background-image: url('https://pont-storage-heroku.s3-ap-northeast-1.amazonaws.com/images/eye_catch/eye_catch1.jpg');
  background-size: cover;
  background-position: center;
  text-align: center
}

.mp-user-info{
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  right: 0;
  transform:translate(0, -50%);
  
}

.mp_stylist_img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin:0 auto;
}

.mp-user-name{
  color: #333;
}

.profile{
  background:#fff;
  width: 100%;
  padding:20px; 
}

 .sidebar_item{
    background: #fff;
    font-size: 14px;
    color: #444;
    padding: 16px;
    min-height: 50px;
    display: block;
 }
 
 .sidebar_list li{
   border-top: 1px solid #eee;
 }
 
 .sidebar_list li:first-child{
   border: 0;
 }
 
 /*
  *ランキングCSS
  *
  */
  .ranking{
    background-color: #fff;
    padding: 0 10px; 
  }
  
  .ranking-ttl{
    background:#269d66;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.1;
  }
  .ranking_content{
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
  }
  
  .ranking_content:last-child{
    border:0;
  }
  /**
   *スタイリスト個別ページCSS
   *
   */
   .box-block{
    border-radius: 5px;
    width:100%;
    background:#fff;
    margin-top:10px;
    padding:20px;
   }
   .indi_page{
     padding:20px 0; 
   }
   .box-basic{
     height: 400px;
     position: relative;
   }
   .box-basic-wrap{
     position: absolute;
     bottom: 50px;
     left: 50px;
     width: 100%;
     display: flex;
   }
   .profile-photo{
     max-width: 30%;
     height: 200px;
     width: 200px;
     border-radius: 50%;
     border:5px solid #269d66;
   }
   .profile-content{
     max-width: 70%;
     padding: 60px 0 0 20px;
  }
   .profile-name{
     font-size:53px;
     color:#444;
     font-weight: bold;
   }
   .profile-detail{
     display: flex;
   }

   .profile-shop{
     font-size: 30px;
     color:#444;
   }
   .box-comment{
    padding-bottom: 50px
   }
   .box-title{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
   }
  .box-sub-title{
    font-size:20px;
    padding-bottom: 10px
  }
  
  .comment-desc{
    font-size: 15px;
  }  
  .comment-fav{
    padding-bottom:20px;
    width:100%;
  }
  .comment-fav-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .comment-fav-list .comment-fav-item {
    width: 30%;
    position: relative;
    list-style-type: none!important;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 5px;
    margin-right:5px;
    line-height: 1.5;
    background: #dbebf8;
    vertical-align: middle;
    color: #505050;
    border-radius: 15px;
  }
  
  .comment-fav-list .comment-fav-item:before{ 
    display:inline-block; 
    vertical-align: middle;
    /*以下白丸つくる*/
    content:'';
    width:1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
}

  .box-shop-wrap{
    width: 100%;
    display: flex;
    justify-content:space-between;
  }
  /*google map CSS*/
  #gmap {
    height: 400px;
    width:48%;
  }
  .shop-map{
    width: 48%
  }
  .shop-map dl{
    display: table;
    width: 100%;
    padding:15px 0;
    border-bottom:1px solid #f2f2f2;
  }
  .shop-map dl dt{
    display: table-cell;
    width: 150px;
  }
  .shop-map dl dd{
    display: table-cell;
    overflow-wrap: break-word;
  }
  
  .menu-list{
    text-align: center;
    margin: 0 auto; 
    width: 700px;
  }
  .menu-item{
    position: relative;
    text-align: left;
    margin-bottom: 8px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(191 203 222 / 40%);
    width: 100%;
    padding:20px;

}
.menu-info{
  display: flex;
  width: 100%;
}
.menu-photo{
  width: 130px;
  height: 130px;
}
.menu-summary{
  font-size: 15px;
  color:#444;
  width : calc(100% - 180px) ;
  padding: 0 20px;
}

.menu-tag{
  display: inline-block;
  text-align: center;
  background: #f2f2f2;
  padding: 2px 4px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.menu-cource{
  margzn-bottom: 10px;
    margin-bottom: 10px;
}
.menu-price{
  color: #fd4a5b;
  font-size: 15px;
  font-weight: bold;
    margin-bottom: 10px;
}
.menu-price span{
  color: #888;
  font-size: 13px;
  font-weight: normal;
  margin-right: 4px;
}

.menu-reserve{
  position: absolute;
  bottom: 10px;
  right: 10px
}
.menu-reserve a{
    display: block;
    border-radius: 5%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    background: #269d66;
    color: #ffffff;
    transition: .3s;
    box-shadow: 6px 6px 3px #666666;
    border: 2px solid #269d66;
}


.menu-reserve a:hover {
  box-shadow    : none;   
  color         : #269d66;    
  background    : #ffffff;
}



  